<!-- Header -->
<header id="header" class="skel-layers-fixed">
	<a href="{{ site.baseurl }}/" >
      <img class="logo" src="{{ site.baseurl }}/logo.png" alt="{{ site.title }}">
    </a>
    <nav id="nav">
        <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/about/">About</a></li>
            <li><a href="{{ site.baseurl }}/no-sidebar.html">Notice</a></li>
            <li><a href="{{ site.baseurl }}/no-sidebar.html">Curriculum</a></li>
            <li><a href="{{ site.baseurl }}/blog.html">Review</a></li>
            <li><a href="{{ site.baseurl }}/no-sidebar.html">Contact Us</a></li>
            {% for page in site.pages %}
                  {% if page.title %}
                    <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
                  {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>